* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-title, h1 {
	font-size: 3.5rem;
	color: #f4f4f4;
}

.hero-text, p {
	font-size: 2em;
	color: #f4f4f4;
}

h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logotype {
    height: 1.8rem;
	margin: 1.2rem;
}

.main-nav {
	margin-top: 5px;

}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.85);
	border-radius: 5px;
}

.hero-image {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, transparent, black), url("/assets/iceland_hero_img.jpg");
    min-height: 35em;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: flex-start;
    justify-content: center;
}

.hero-button {
	padding: 0.6rem;
	background-color: blue;
	color: cornsilk;
	border: none;
	border-radius: 5px;
}

	.hero-button:hover {
		cursor: pointer;
		background-color: crimson;
		transition: ease-in-out;
		transition-duration: 200ms;
	}

/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}