* {
	box-sizing: border-box;
}

:root {
	--bg-color: #faffebff;
	--main-text: #343434ff;
	--second-text: #8d8e8eff;
	--main-red: #ae1e2aff;
	--main-blue: #2a46b7ff;
}

body {
	background-color: var(--bg-color);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 66.2%;
	line-height: 1.5;
	margin: 0;
	width: 100%;
	min-height: 100vh;
}

h1 {
	font-size: 2.6rem;
	text-transform: uppercase;
	text-align: center;
}

.header-column-right h2 {
	color: var(--main-text);
	font-size: 2.1rem;
	font-weight: lighter;
	text-shadow: 1px 2px var(--second-text);
	/* transform: skewy(-1deg); */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}

.container-1 h4 {
	font-size: 1.6rem;
	text-transform: uppercase;
	background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(253,29,29,1) 50%, rgb(9, 124, 255) 100%); 
	background-clip: text;
	color: transparent;
}


.navigation {
	display: flex;
	justify-content: end;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: transparent;
	position: sticky;
}

.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #34495e;
	font-size: 1rem;
}

.main-nav a:hover {
	color: #718daa;
}

.home-header {
	padding: 100px 0 120px;
	display: flex;
    flex-wrap: nowrap;
}

	.header-column-left {
		display: flex;
		justify-content: center;
		width: 50%;
		height: 30vw;
	}

	.header-column-right {
		display: flex;
		align-items: center;
		width: 50%;
		height: 30vw;
		padding: 2rem;
	}

.container-1 {
	display: grid;
	justify-items: center;
  	grid-template-columns: 1fr 1fr 1fr;
  	padding: 10px;
	}

	.grid-item-col {
		padding: 1.6rem;
		font-size: 1.1rem;
		text-align: center;

	}

.container-2 {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 10px;
	
	}
	
	.grid-item-row {
		justify-self: center;
		max-width: 70%;
		padding: 1.6rem;
		font-size: 1rem;
		text-align: left;
	
	}

/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}